<br/><br/><br/><br/><br/>
<div class="jumbotron text-center">
  <h1>SUPERHERO HOME PAGE</h1>
  <p>...</p>
  <p><%= link_to 'アカウント作成', new_user_registration_path, class: "btn btn-primary btn-lg" %></p>
</div>